
@{
    ViewData["Title"] = "Index";
}

<h1>The list of restaurants go here</h1>



<p>@Html.ActionLink("Add new Restaurant", "Create")</p>
<p>@Html.ActionLink("Add new Category", "AddCategory")</p>


