
@{
    ViewData["Title"] = "Success";
}

<h1 class="text-success">Successfully added restaurant!</h1>
<p>@Html.ActionLink("Add new restaurant", "Create", "Restaurants")</p>

@Html.ActionLink("Add new meal", "AddMeal", "Restaurants")

