
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-danger">List of meals</h1>

<p>@Html.ActionLink("Add new meal", "AddMeal", "Restaurants")</p>
<p>@Html.ActionLink("Add new meal-type", "AddMealType", "Meals")</p> 
<p>@Html.ActionLink("Add new meal-category", "AddMealCategory", "Meals")</p>

